In [21]:
import pandas as pd
import os
import re

data_folder = "csv_tables"

files = [f for f in os.listdir(data_folder) if f.endswith(".csv")]

grouped_files = {
    "ANALYSIS OF FINANCIAL EXPERIENCE": [],
    "SCHEDULES OF CHANGES IN NET PENSION LIABILITY(ASSET) AND RELATED RATIOS": []
}

for file in files:
    file_lower = file.lower()
    file_path = os.path.normpath(os.path.join(data_folder, file))
    if "analysis of financial experience" in file_lower:
        grouped_files["ANALYSIS OF FINANCIAL EXPERIENCE"].append(file_path)
    elif "schedules of changes in net pension liability(asset) and related ratios" in file_lower:
        grouped_files["SCHEDULES OF CHANGES IN NET PENSION LIABILITY(ASSET) AND RELATED RATIOS"].append(file_path)

print(grouped_files)

{'ANALYSIS OF FINANCIAL EXPERIENCE': ['csv_tables\\ACFR-2021-154_ANALYSIS OF FINANCIAL EXPERIENCE.csv', 'csv_tables\\ACFR-2022-160_ANALYSIS OF FINANCIAL EXPERIENCE.csv', 'csv_tables\\ACFR-2023-162_ANALYSIS OF FINANCIAL EXPERIENCE.csv', 'csv_tables\\CAFR-2020-152_ANALYSIS OF FINANCIAL EXPERIENCE.csv'], 'SCHEDULES OF CHANGES IN NET PENSION LIABILITY(ASSET) AND RELATED RATIOS': ['csv_tables\\ACFR-2021-86_SCHEDULES OF CHANGES IN NET PENSION LIABILITY(ASSET) AND RELATED RATIOS.csv', 'csv_tables\\ACFR-2022-86_SCHEDULES OF CHANGES IN NET PENSION LIABILITY(ASSET) AND RELATED RATIOS.csv', 'csv_tables\\ACFR-2023-86_SCHEDULES OF CHANGES IN NET PENSION LIABILITY(ASSET) AND RELATED RATIOS.csv', 'csv_tables\\CAFR-2020-86_SCHEDULES OF CHANGES IN NET PENSION LIABILITY(ASSET) AND RELATED RATIOS.csv']}

In [20]:
print(grouped_files["ANALYSIS OF FINANCIAL EXPERIENCE"])
print("")
print(grouped_files["SCHEDULES OF CHANGES IN NET PENSION LIABILITY(ASSET) AND RELATED RATIOS"])

['csv_tables\\ACFR-2021-154_ANALYSIS OF FINANCIAL EXPERIENCE.csv', 'csv_tables\\ACFR-2022-160_ANALYSIS OF FINANCIAL EXPERIENCE.csv', 'csv_tables\\ACFR-2023-162_ANALYSIS OF FINANCIAL EXPERIENCE.csv', 'csv_tables\\CAFR-2020-152_ANALYSIS OF FINANCIAL EXPERIENCE.csv']

['csv_tables\\ACFR-2021-86_SCHEDULES OF CHANGES IN NET PENSION LIABILITY(ASSET) AND RELATED RATIOS.csv', 'csv_tables\\ACFR-2022-86_SCHEDULES OF CHANGES IN NET PENSION LIABILITY(ASSET) AND RELATED RATIOS.csv', 'csv_tables\\ACFR-2023-86_SCHEDULES OF CHANGES IN NET PENSION LIABILITY(ASSET) AND RELATED RATIOS.csv', 'csv_tables\\CAFR-2020-86_SCHEDULES OF CHANGES IN NET PENSION LIABILITY(ASSET) AND RELATED RATIOS.csv']

In [52]:
df = pd.read_csv(grouped_files["ANALYSIS OF FINANCIAL EXPERIENCE"][0])
df.rename(columns={'Unnamed: 0': 'Columns'}, inplace=True)
print(df.head())

                                             Columns     2020     2019
0                  1) Total (Gain)/Loss for the Year      NaN      NaN
1  a) Unfunded Accrued Liability (UAL) as of June 30  $31,351  $27,225
2                     b) Expected Payment on the UAL    1,627     1255
3                                        c) Interest    2,139    1,929
4  d) Expected UAL Before Other Changes [1a N/A 1...  $31,863  $27,899

In [53]:
df2 = pd.read_csv(grouped_files["ANALYSIS OF FINANCIAL EXPERIENCE"][1])
df2.rename(columns={'Unnamed: 0': 'Columns'}, inplace=True)
print(df2.head())

                                             Columns     2021     2020
0                  1) Total (Gain)/Loss for the Year      NaN      NaN
1  a) Unfunded Accrued Liability (UAL) as of June 30  $27,684  $10,821
2                     b) Expected Payment on the UAL    2,419    2,827
3                                        c) Interest    1,722      613
4  d) Expected UAL Before All Other Changes [1a N...  $26,987   $8,607

In [54]:
columns_df1 = df.columns
columns_df2 = df2.columns
different_columns_1_vs_2 = set(columns_df1) - set(columns_df2)
print("Different columns in df1 vs df2:", different_columns_1_vs_2)
different_columns_2_vs_1 = set(columns_df2) - set(columns_df1)
print("Different columns in df2 vs df1:", different_columns_2_vs_1)
common_columns = set(columns_df1).intersection(set(columns_df2))
print("Common columns:", common_columns)

Different columns in df1 vs df2: {'2019'}
Different columns in df2 vs df1: {'2021'}
Common columns: {'Columns', '2020'}

In [55]:
list(different_columns_1_vs_2)

['2019']

In [56]:
df2

                                              Columns        2021        2020
0                   1) Total (Gain)/Loss for the Year         NaN         NaN
1   a) Unfunded Accrued Liability (UAL) as of June 30     $27,684     $10,821
2                      b) Expected Payment on the UAL       2,419       2,827
3                                         c) Interest       1,722         613
4   d) Expected UAL Before All Other Changes [1a N...     $26,987      $8,607
5          e) Change Due to Revised Actuarial Methods          $0          $0
6          f) Change Due to New Actuarial Assumptions    (63,261)         NaN
7    g) Expected UAL After All Changes [1d + 1e + 1f]   ($36,274)      $8,607
8                         h) Actual UAL as of June 30  ($438,523)     $27,684
9                    i) Total (Gain)/Loss [1h N/A 1g]  ($402,249)     $19,077
10           2) Contribution (Gain)/Loss for the Year         NaN         NaN
11                          a) Expected Contributions    $122,379    $120,415
12              b) Interest on Expected Contributions       3,915       3,852
13                            c) Actual Contributions     118,241     126,943
14                d) Interest on Actual Contributions       3,782       4,061
15  e) Contributions (Gain)/Loss [(2a + 2b) N/A (2...      $4,271    ($6,737)
16                  3) Asset (Gain)/Loss for the Year         NaN         NaN
17            a) Market Value of Assets as of June 30  $1,885,404  $1,715,056
18                          b) Contributions Received     118,241     126,943
19  c) Benefits and Refunds Paid and Administrativ...    (61,994)    (34,547)
20                               d) Expected Interest     124,350     114,434
21  e) Expected Assets as of June 30 [3a + 3b + 3c...  $2,066,001  $1,921,886
22            f) Market Value of Assets as of June 30  $2,403,366  $1,885,404
23                   g) Asset (Gain)/Loss [3e N/A 3f]  ($337,365)     $36,482
24              4) Liability (Gain)/Loss for the Year         NaN         NaN
25                          a) Total (Gain)/Loss (1i)  ($402,249)     $19,077
26                   b) Contribution (Gain)/Loss (2e)       4,271     (6,737)
27                          c) Asset (Gain)/Loss (3g)   (337,365)      36,482
28        d) Liability (Gain)/Loss [4a N/A 4b N/A 4c]   ($69,155)   ($10,668)

In [59]:
cols_to_use = df2.columns.difference(df.columns)
merged_df = pd.merge(df, df2[cols_to_use], left_index=True, right_index=True, how='outer')
merged_df.head()

,Columns,2020,2019,2021
0,1) Total (Gain)/Loss for the Year,NaN,NaN,NaN
1,a) Unfunded Accrued Liability (UAL) as of June 30,"$31,351","$27,225","$27,684"
2,b) Expected Payment on the UAL,"1,627",1255,"2,419"
3,c) Interest,"2,139","1,929","1,722"
4,d) Expected UAL Before Other Changes [1a N/A 1...,"$31,863","$27,899","$26,987"

In [ ]:
def merge_csv_files(files_list):
    main_df = pd.DataFrame()
    
    for f in files_list:
        try:
            df = pd.read_csv(f)
            df.rename(columns={'Unnamed: 0': 'Columns'}, inplace=True)
        except Exception as e:
            print(f"Error reading {f}: {e}")
            continue
        
        # If main_df is empty, just assign df to main_df
        if main_df.empty:
            main_df = df.copy()
        else:
            cols_to_use = df.columns.difference(df.columns)
            main_df = pd.merge(main_df, df[cols_to_use], left_index=True, right_index=True, how='outer')   
    return main_df

In [61]:
merged_df = merge_csv_files(grouped_files["ANALYSIS OF FINANCIAL EXPERIENCE"])
merged_df.head()

                                          Unnamed: 0     2020     2019
0                  1) Total (Gain)/Loss for the Year      NaN      NaN
1  a) Unfunded Accrued Liability (UAL) as of June 30  $31,351  $27,225
2                     b) Expected Payment on the UAL    1,627     1255
3                                        c) Interest    2,139    1,929
4  d) Expected UAL Before Other Changes [1a N/A 1...  $31,863  $27,899

In [63]:
dfs = []
for file in grouped_files["ANALYSIS OF FINANCIAL EXPERIENCE"]:
    try:
        df = pd.read_csv(file, index_col=0)
        df.rename(columns={'Unnamed: 0': 'Columns'}, inplace=True)
        dfs.append(df)
    except Exception as e:
        print(f"Error reading {file}: {e}")

merged_df = dfs[0].copy()

# Iterate over the remaining DataFrames.
for df in dfs[1:]:
    # Get the columns in the new DataFrame that are not already in merged_df.
    cols_to_use = df.columns.difference(merged_df.columns)
    # Merge on the index with an outer join.
    merged_df = pd.merge(merged_df, df[cols_to_use], left_index=True, right_index=True, how='outer')

merged_df.head()
# Save the merged DataFrame to a CSV file.
output_file = os.path.join(data_folder, "merged_analysis_of_financial_experience.csv")
merged_df.to_csv(output_file, index=True)

In [64]:
dfs = []
for file in grouped_files["SCHEDULES OF CHANGES IN NET PENSION LIABILITY(ASSET) AND RELATED RATIOS"]:
    try:
        df = pd.read_csv(file, index_col=0)
        df.rename(columns={'Unnamed: 0': 'Columns'}, inplace=True)
        dfs.append(df)
    except Exception as e:
        print(f"Error reading {file}: {e}")

merged_df = dfs[0].copy()

# Iterate over the remaining DataFrames.
for df in dfs[1:]:
    # Get the columns in the new DataFrame that are not already in merged_df.
    cols_to_use = df.columns.difference(merged_df.columns)
    # Merge on the index with an outer join.
    merged_df = pd.merge(merged_df, df[cols_to_use], left_index=True, right_index=True, how='outer')

merged_df.head()
# Save the merged DataFrame to a CSV file.
output_file = os.path.join(data_folder, "merged_schedules_of_changes_in_net_pension_liability.csv")
merged_df.to_csv(output_file, index=True)